<form action="/{{user._id}}/edit-picture" method="POST" enctype="multipart/form-data">
<label for="picture">Picture</label>
  <input type="file" accept="image/*" id="picture" name="picture">
  <button>Save changes</button>
</form>