<section class="error-page d-flex flex-column align-items-center justify-content-center">
<h1 class="error-msg mb-5">It seems like this recipe is overcooked...</h1>
<h2>{{error.status}}</h2>

<pre>

{{!-- <h1>{{error.stack}}</pre> --}}
</section>