
<header>
<div class="welcome-msg">
<h1>Master Lara</h1>
<p>Find recipes using everything you have at home. <br>If something is missing you share with a friend and they can bring it to you!</p>
</div>

{{#if user}}

<form class="main-search" action="/recipe/search/">
  <label for="item">Insert here every ingredient you have separated by spaces:</label>
  <input type="text" id="item" name="item" placeholder="IE: carrot onion garlic cheese banana">

<button>Search</button>
</form>
{{else}}


<br>
<div class="sign-blocks">
<div>
<p>To use our search you need to be logged in.</p>
<a class="btn" href="/authentication/sign-in">Sign In</a>
</div>
<div>
<p> If you don't have an account yet create one for free.</p>
<a class="btn" href="/authentication/sign-up">Sign Up</a>
</div>
</div>

{{/if}}
</header>