<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<form action="/recipe/search">
<label for="item">Search your recipe</label>
<input type="text" id="item" name="item" placeholder="">
<button>Search</button>
</form>
