
<div class="col-lg-4 col-md-5 col-12 d-flex justify-content-md-between justify-content-sm-around p-0 ">
<div class="card border-0 mx-auto">
  <img src="{{image}}" class="card-img-top rounded-bottom" alt="{{name}}">
  <div class="card-body px-0 py-4">
    <h5 class="card-title pb-4">{{name}}</h5>
    <a href="/recipe/{{id}}" style="width: 100%;">View Recipe</a>
  </div>
</div>
</div>





