<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Master Lara</title>

    <!--BOOTSTRAP-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">




    <link rel="stylesheet" href="/styles/style.css" />
  </head>

  <body class="bodyHome">

    <nav class="navbar navbar-expand-lg navbar-light " id="navbarHome" style="background-color: rgba(255,255,255,0);">

      <div class="container"> 
        <a class="navbar-brand" href="/">
        <img style="width:auto;height:1.5em"src="/images/Home/masterlara.png" alt="">
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">


        <ul class="navbar-nav ml-auto">
          {{#if user}}
          <li class="nav-item">
            <a class="nav-link" style="color:white" href="/private">Hi, {{user.name}}!</a>
          </li>

          <li class="nav-item signout">
            <a class="nav-link" style="color:white" href="/">Search</a>
          </li>

           <li class="nav-item">
             <form class="signout" action="/authentication/sign-out" method="POST">
              <button>Sign Out</button>
            </form>
           </li>
          {{else }}

          <li class="nav-item">
            <a class="nav-link" style="color:white" href="/authentication/sign-in">Sign In</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" style="color:white" href="/authentication/sign-up">Sign Up</a>
          </li>

          {{/if}}
        </ul>


      </div>
    </div>
      
  </nav>

<header class="d-flex justify-content-start header">
  {{!-- <img class="bg-img p-5" src="" alt=""> --}}

  <div class="container">
    <!--ROW-->
    <div class="row">
      <!--COL-->
      <div class="col-md-7 col-sm-12">

        
        {{> description}}
      </div><!--COL-->

    </div><!--ROW-->

    <div class="row">
      <div class="col-md">
        {{#if user}}

          <form class="formHome" action="/recipe/search/" method="GET">
            <p>Type here every ingredient you have separated by spaces:</p>
            
            <div class="d-flex justify-content-between align-items-center flex-wrap">
              <input style="width: 55%;" class="rounded-pill col-12 col-md-6" type="text" id="item" name="item" placeholder="IE: carrot onion garlic cheese banana">
              <button type="submit" class="btn btn-primary btn-sm rounded-pill btn-search col-12 col-md-5">Search the perfect recipe</button>
            </div>
          </form> 

          {{else}}

          {{>blankspot}}
      
        {{/if}}

      </div>

    </div>
  </div>

  
</header>



    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

   <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


     <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

 
    <script src="/scripts/script.js"></script>

  </body>
</html>