<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/styles/style.css" />
  </head>

  <body>
    <nav class="home-nav">
      <img src="/images/Home/Capturar.PNG" alt="">
      {{#if user}}
      <a href="/private">Hi, {{user.name}}!</a>
      <a href="/">Search</a>
      <form action="/authentication/sign-out" method="POST">
        <button>Sign Out</button>
      </form>
      {{else}}
      <a href="/authentication/sign-in">Sign In</a>
      <a href="/authentication/sign-up">Sign Up</a>
      {{/if}}
    </nav>

<header class="d-flex justify-content-start header">
  {{!-- <img class="bg-img p-5" src="" alt=""> --}}

  <div class="container">
     <!--ROW-->
    <div class="row">
      <div class="col-md-7 col-sm-12"><!--COL-->
        

          <h1 class="mt-5"><span class="master">Master</span></h1>
          <h2><span class="lara">Lara</span></h2>
          
          

          
          
          {{!-- <hr class="my-4"> --}}

      <!--INPUT - IF LOGIN -->
      {{#if user}}

        <form class="main-search" action="/recipe/search/">
          <label for="item" class="">Insert here every ingredient you have separated by spaces:</label>
          <input type="text" id="item" name="item" placeholder="IE: carrot onion garlic cheese banana">

          <button class="btn btn-primary btn-lg">Search</button>
        </form>
      
      {{else}}

        {{> description}}
        
      </div>
      {{/if}}

      </div><!--/COL-->
    </div><!--/ROW-->
  </div><!--/container-->
 
  
</header>

    <script src="/scripts/script.js"></script>
  </body>
</html>