@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700&display=swap');
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Raleway:400,500|Montserrat:400,500");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i");

$font-sans: 'Montserrat', sans-serif;
$grey: hsla(0, 0, 75%, 0.5);
$primary: #a442bc;
$pink: #ff4a73;
$orange: #ffa31d;
$gray: #222222a1;
$yellow: #f9d335;
$green: #44c7b6;
$blue: #3193f3;
$colortextHome: #565656;

* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-family: $font-sans;
  line-height: 2;
}

a {
  color: inherit;
  &:not(full-recipe) {
    text-decoration: none;
  }
}

h2,
h1 {
  color: $pink;
  margin-bottom: 0;
}

h5,
h4 {
  color: $primary;
}

p,
li {
  color: $gray;
}

nav {
  display: flex;
  padding: 0.7em;
  align-items: center;
  color: white;
  a,
  button {
    padding: 1em 0;
    border: 0;
    margin-right: 1.5em;
    margin-bottom: 0;
    font-family: 'Poppins', ;
    color:$colortextHome;
    font-weight: 700;
    &:hover {
      text-decoration: none;
      color: $primary;
    }
  }
  img {
    width: 50px;
    margin-right: auto;
  }
  &:not(.home-nav) {
    background-color: $pink;
  }
}

.home-nav {
  color: $green;
}

<<<<<<< HEAD
=======

>>>>>>> 711202f9de63f3163bfb59cc53fd30f94f429450
.header {
  position: relative;
  
  //Background characters
  background-image: url('/images/Home/fresh-vegetables-home.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-left: 35px solid white;
  border-right: 35px solid white;
  color:black;
  //height: 750px;
  z-index: 5;
  //overflow: hidden;

  h1{
    padding-top: 100px;
    margin-bottom: 0.1px;
  }

  h2{
    padding-bottom: 30px;
  }
  > div {
    
    z-index: 7;
    p {
      font-size: 15px;
      font-weight: lighter;
      margin-bottom: 0.1rem;
      font-family: 'Poppins', ;
      color:black;

    }
  }
<<<<<<< HEAD
  .bg-img {
    height: 105%;
    top: 0;
    left: 0;
    // transform: scale(1.1);
    background-image: url('/images/depositphotos_126383742-stock-photo-interior-with-yellow-fridge-3d.jpg');
    // opacity: 0.7;
    // background-color: $orange-layer;
    background-blend-mode: multiply;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: -1;
    // -webkit-filter: blur(1.5px);
    // filter: blur(1.5px);
=======

  

  .master{
    font-size: 180px;
    font-family: 'Poppins', ;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1px;
    margin-bottom: 0.01rem;
  }

  .lara{
    text-transform: uppercase;
    font-size: 60px;
    letter-spacing: 40px;
    
  }

  .description{
    padding-bottom: 50px;
>>>>>>> 711202f9de63f3163bfb59cc53fd30f94f429450
  }
}

img {
  width: 100%;
  max-width: 100%;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  opacity: 0.9;
  border-radius: 3px;
  border: solid 1px #dfdfdf;
  background-color: rgba(197, 197, 197, 0.02);
  color: black;
}

input,
textarea,
button,
.btn {
  padding: 1em;
  border: 1px solid $grey;
  border-radius: 3px;
  margin-bottom: 1em;
  font: inherit;
  color: inherit;
  &:not(input) {
    background-color: transparent;
    transition: background-color 300ms ease-in;
    font-weight: bold;
    color: $gray;
    &:hover:not(.imageLikeSingle) {
      background-color: $pink;
      border: $pink;
    }
  }
}

.delete {
  background-color: darkred;
  color: white;
}

textarea {
  min-height: 8em;
  resize: vertical;
}

.imageLikeSingle {
  position: absolute;
  display: flex;
  align-items: center;
  left: 82%;
  top: 1.25em;
  width: auto;
  height: 2.75em;
  padding: 0;
  border: 0;
  img {
    width: auto;
    height: 2.25em;
    margin: 0;
  }
}

.card {
  position: relative;
  overflow: hidden;
  img {
    transition: transform 300ms ease-in;
    &:hover {
      transform: scale(1.1);
    }
  }
  .btn {
    margin-bottom: 0;
    width: 100%;
  }
  .percentage {
    position: absolute;
    background-color: $primary;
    color: white;
    padding: 0.25em 0.5em;
    margin-top: 0.5em;
  }
}

.missing-ingredients {
  color: $pink;
}

.my-ingredients {
  color: $green;
}

.ingredients-list {
  list-style-type: '- ';
  padding-left: 10px;
}

#whatsapp-share-btn {
  background-color: #25d366;
  color: white;
  border-radius: 3px;
  padding: 10px;
  transition: all 300ms ease-in;
  &:hover {
    background-color: white;
    border: #25d366;
    color: #25d366;
  }
  .whatsapp-icon {
    width: 40px;
    padding-right: 10px;
  }
}

.error-page {
  width: 100%;
  height: 800px;
  background-color: #eeece5;
  background-image: url('/images/error-page.jpg');
  background-color: $gray;
  background-blend-mode: multiply;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.error-msg {
  color: white;
}
