
<div class="container pt-5">
  <h1>{{user.name}}'s Recipe Book</h1>
 
  <div class="row d-flex justify-content-around">
    {{#each user.favoriteRecipes}}

      {{>recipebookcard}}    
    
    {{/each}}

  
  </div>
</div>



