<h1>Recipes for you:</h1>
<p>The percentage on each reciope represents how much you already have to cook it</p>

{{#each recipes}}

<div class="recipe-card">
{{#with recipe}}

{{>recipelist}}

{{/with}}

<p>{{ percentage }}%</p>
</div>

{{/each}}
