



<div class="container">
  <h1 class="ml-5">Recipes that match your search</h1>
  <p class="ml-5">The percentage on each recipe represent how much you already have to cook it</p>
  <div class="row d-flex justify-content-around">
{{#each recipes}}

{{>recipelist}}


{{/each}}
</div>
</div>
 