<h1>FUNCIONANI</h1>

{{#each recipes}}

{{#with recipe}}
{{label}}
<img src="{{image}}" alt="">


<form action="/recipe/{{ getID uri }}" method="GET" class="d-inline">          {{!-- <input class="hidden" type="text" name="data" value="{{getData recipe}}" /> --}}          <button>View Recipe</button>        </form>

{{/with}}
{{/each}}