@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Raleway:400,500|Montserrat:400,500");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Muli:300,400,700&display=swap");
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-family: "Montserrat", sans-serif;
  line-height: 2;
  background-color: #fbfbf6;
  box-sizing: border-box; }

a {
  color: #bb483b;
  font-family: "Muli";
  text-decoration: none; }

h1,
h5,
h4,
h2 {
  font-family: "Playfair Display"; }

p,
li {
  color: #4b4944;
  font-family: "Muli"; }

.bodyHome {
  background-image: url("/images/Home/fundo2.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f0523d; }

@media (min-width: 964px) {
  .bodyHome {
    overflow: hidden; } }

@media (max-width: 767px) {
  .bodyHome {
    background-image: url("/images/Home/fundoresposivo.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #f0523d; } }

#navbarHome {
  display: flex;
  padding: 0.7em;
  align-items: center;
  color: white; }
  #navbarHome a,
  #navbarHome button {
    padding: 1em 0;
    border: 0;
    margin-right: 1.5em;
    margin-bottom: 0;
    font-family: 'Poppins';
    color: white;
    font-weight: 300; }
    #navbarHome a:hover,
    #navbarHome button:hover {
      text-decoration: none;
      color: #a442bc; }
  #navbarHome img {
    width: 50px;
    margin-right: auto; }
  #navbarHome:not(.home-nav) {
    background-color: rgba(0, 0, 0, 0); }

nav {
  display: flex;
  padding: 0.7em;
  align-items: center;
  color: #fbfbf6; }
  nav a,
  nav button {
    padding: 1em 0;
    border: 0;
    margin-right: 1.5em;
    margin-bottom: 0;
    font-family: 'Poppins';
    color: #fbfbf6;
    font-weight: 300; }
    nav a:hover,
    nav button:hover {
      text-decoration: none;
      color: #a442bc; }
  nav img {
    width: 50px;
    margin-right: auto; }
  nav:not(.home-nav) {
    background-color: #3d1f1c; }

.home-nav {
  color: white; }

.header {
  position: relative;
  padding-top: 100px;
  color: black;
  z-index: 5; }
  .header h1 {
    padding-top: 100px;
    margin-bottom: 0.1px; }
  .header h2 {
    padding-bottom: 30px; }
  .header > div {
    z-index: 7; }
    .header > div p {
      font-size: 15px;
      font-weight: lighter;
      margin-bottom: 0.1rem;
      font-family: 'Poppins';
      color: black; }
  .header .description {
    padding-bottom: 80px;
    font-family: 'Poppins'; }
    .header .description :first-child {
      color: #3d201c;
      font-size: 42px;
      line-height: normal;
      font-weight: 400; }
    .header .description :last-child {
      width: 70%;
      padding-top: 10px;
      color: white;
      font-size: 18px; }

@media (max-width: 767px) {
  .header {
    padding-top: 80px; }
    .header .description {
      padding-bottom: 80px;
      font-family: 'Poppins'; }
      .header .description :first-child {
        color: #3d201c;
        font-size: 35px;
        line-height: normal;
        font-weight: 400; }
      .header .description :last-child {
        width: 70%;
        padding-top: 10px;
        color: white;
        font-size: 15px; } }

img {
  width: 100%;
  max-width: 100%; }

form {
  display: flex;
  flex-direction: column; }

input {
  opacity: 0.9;
  border-radius: 3px;
  border: solid 1px #dfdfdf;
  background-color: white;
  color: black; }

input,
textarea,
button,
.btn {
  padding: 1em;
  border-radius: 3px;
  margin-bottom: 1em;
  font: inherit; }
  input:not(input),
  textarea:not(input),
  button:not(input),
  .btn:not(input) {
    border: 0;
    width: 210px;
    background-color: #ef5241;
    transition: background-color 300ms ease-in;
    font-weight: bold;
    color: #fbfbf6; }
    input:not(input):hover:not(.imageLikeSingle),
    textarea:not(input):hover:not(.imageLikeSingle),
    button:not(input):hover:not(.imageLikeSingle),
    .btn:not(input):hover:not(.imageLikeSingle) {
      background-color: #bb483b;
      border: #ef5241; }

.signout button {
  color: white;
  font-weight: 300;
  line-height: 30px;
  /* <- changed this */
  box-sizing: border-box; }

@media (max-width: 767px) {
  .signout button {
    color: white;
    text-align: left;
    font-weight: 300;
    line-height: 2px;
    /* <- changed this */
    box-sizing: border-box; } }

.formHome p {
  padding-bottom: 30px; }

.formHome button {
  background-color: #3d201c;
  color: white;
  height: 50px;
  border: 1px solid #3d201c;
  vertical-align: center;
  width: 40%;
  line-height: 20px;
  /* <- changed this */
  box-sizing: border-box; }

.formHome button:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: #3d201c; }

.formHome input {
  height: 50px; }

@media (max-width: 767px) {
  .btn-search {
    color: red;
    line-height: 15px;
    /* <- changed this */ } }

.delete {
  background-color: darkred;
  color: white; }

textarea {
  min-height: 8em;
  resize: vertical; }

.imageLikeSingle {
  position: absolute;
  display: flex;
  align-items: center;
  left: 82%;
  top: 1.25em;
  width: auto;
  height: 2.75em;
  padding: 0;
  border: 0;
  background-color: transparent; }
  .imageLikeSingle img {
    width: auto;
    height: 2.25em;
    margin: 0; }

h4.grey {
  color: #878683;
  font-family: "Muli"; }

.card {
  position: relative;
  overflow: hidden;
  background-color: #fbfbf6; }
  .card img {
    width: 350px;
    transition: transform 300ms ease-in; }
    .card img:hover {
      transform: scale(1.1); }
  .card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .card .card-body a {
      color: #ef5241;
      font-family: "Muli";
      font-size: 18px;
      font-weight: bold;
      border: 0;
      padding: 0;
      margin-bottom: 0; }
  .card .percentage {
    position: absolute;
    background-color: #bb483b;
    color: #fbfbf6;
    padding: 0.25em 0.5em;
    margin-top: 0.5em; }

.recipe-top img.rounded {
  width: 100%;
  max-width: 100%; }

.ingredients-list {
  list-style: none;
  padding-left: 0; }
  .ingredients-list li:before {
    content: '✓      '; }
  .ingredients-list li.missing-ingredients:before {
    color: #ef5241; }
  .ingredients-list li.my-ingredients:before {
    color: #44c7b6; }

#whatsapp-share-btn {
  background-color: #25d366;
  color: #fbfbf6;
  border-radius: 3px;
  padding: 10px;
  transition: all 300ms ease-in;
  width: 280px;
  text-align: center;
  margin: 10px; }
  #whatsapp-share-btn:hover {
    background-color: #fbfbf6;
    border: 1px solid #25d366;
    color: #25d366;
    text-decoration: none; }
  #whatsapp-share-btn .whatsapp-icon {
    width: 40px;
    padding-right: 10px; }

.full-recipe {
  width: 280px;
  border: 1px solid #bb483b;
  padding: 10px;
  transition: background-color 300ms ease-in;
  text-align: center; }
  .full-recipe:hover {
    background-color: #bb483b;
    color: #fbfbf6;
    text-decoration: none; }

.img-circle {
  max-width: 170px; }

.error-page {
  width: 100%;
  height: 800px;
  background-color: #eeece5;
  background-image: url("/images/error-page.jpg");
  background-color: #4b4944;
  background-blend-mode: multiply;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.error-msg {
  color: white; }

/*# sourceMappingURL=style.css.map */